#map {
    position:absolute;
    right:0;
    height: 700px;
    width: 50%;
    border: 10px solid transparent;
    background-clip: content-box;
    background-image: linear-gradient(45deg, 
        #ff0000, #ff9900, #ffff00, #00ff00, #0000ff, #9900ff, #ff00ff);
}
body{
    /* Set the background to a linear gradient */
    background: linear-gradient(to bottom, rgba(128, 0, 128, 0.5), rgba(255, 0, 0, 0.497));
    /* Ensure the gradient covers the entire viewport */
    height: 100vh;
    margin: 0;
     /* Apply some default styling to the text */
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
    
}

.left-arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #000000; /* You can change the color */
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
  }